<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <title>{% block title %}Welcome BadgeBox{% endblock %}</title>
    {# Importation des stylesheets #}
    {% block stylesheets %}
        {% stylesheets filter='cssrewrite'
        'bundles/badgebox/css/reset.css'
        'bundles/badgebox/css/style.css'
        %}
        <link rel="stylesheet" href="{{ asset_url }}" type="text/css" />
        {% endstylesheets %}
    {% endblock %}
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
</head>
<body>
<div id="site">
    {% block header %} {% render(controller('BadgeBoxBundle:Site:header')) %} {% endblock %}

    <div id="content">{% block content %}{% endblock %}</div>

    {% block javascripts %}
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js" type="text/javascript"></script>
        <script>
            $('#sub-bouton').hide();
            $('#badgebox_badgeboxbundle_post_content').click(function() {
                $('#badgebox_badgeboxbundle_post_content').css({ 'height': '80px' });
                $('#sub-bouton').show();
            });
        </script>
    {% endblock %}
</div>
</body>
</html>
