<div id="header">
    <div id="header-box">
       <div id="header-box-ct"> <h1 id="title">Badge<span id="white-title">Box</span></h1> </div>

        <div id="connect">
        {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
            <img src="{{ asset('bundles/badgebox/images/logo.jpg') }}" alt="avatar" id="avatar"> {{ app.user.username }}
        {% else %}
           <div id="head-connect">
                <input type="text" class="head-login" placeholder="Nom d'utilisateur"/>
                <input type="password" class="head-login" placeholder="Mot de passe"/>
                <input type="submit" class="head-sub" value="Connexion"/>
               <input type="button" value="Mot de passe oublié" class="head-sub"/>
           </div>
        {% endif %}
        </div>
        <div class="clear"></div>
    </div>
</div>
<div id="underheader">
        <div id="underheader-box">
            ￼{% for flashMessage in app.session.flashbag.get('success') %}
                <div id="flash-success">{{ flashMessage }}</div>
              {% endfor %}
            {% for flashMessage in app.session.flashbag.get('error') %}
                <div id="flash-error">{{ flashMessage }}</div>
            {% endfor %}
        </div>
</div>