<div id="home">

    <div id="home-profil">
        {% include('BadgeBoxBundle:Site:profil.html.twig') %}
    </div>
    <div id="home-opt">
        {% include('BadgeBoxBundle:Site:option.html.twig') %}
    </div>
    <div id="home-ct">
        {% include('BadgeBoxBundle:Site:content.html.twig') %}
    </div>

    <div class="clear"></div>

</div>