<div id="wlc">
    <div id="wlc-header">

        <div id="wlc-register">
            <label>Nom d'utilisateur</label>
            <input type="text" placeholder="Nom d'utilisateur" class="txt" />
            <label>Mot de passe</label>
            <input type="text" placeholder="Mot de passe" class="txt" />
            <label>Adresse email</label>
            <input type="text" placeholder="Adresse email" class="txt" />
            <input type="submit" value="Inscription" class="sub">
        </div>

        <h1 id="slogan">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequatur culpa dolores eum illum laborum
            maxime minus quisquam
            sunt suscipit ullam, voluptas, voluptates! Ab aperiam cumque earum illum quae, recusandae sint.</h1>

    </div>

    <div id="wlc-sub">

        <a href="{{ path('fos_user_security_login') }}" class="inherit">
         <span class="sub"> Free tour </span>
        </a>

        <a href="{{ path('fos_user_security_login') }}" class="inherit">
            <span class="sub"> A propos </span>
        </a>
    </div>
</div>