@font-face {
    font-family: 'raleway';
    src: url('/typo/raleway/Raleway-Regular.otf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body{
    background: #f4f5f7;
    font-family: 'raleway' "Lucida Grande", Helvetica, Verdana, Arial, 'sans-serif';
    font-size: 11px;
    line-height: 1.2em;
}

a{ text-decoration: none}
a.link{ text-decoration: none; color: inherit;}
a.link:hover{ color: #f06c57}

h1{ font-size: 1.4em }
h2{ font-size: 1.4em }
h3{ font-size: 1.2em }
h4{ font-size: 1em }

*:focus{ outline: none; }
.clear{ clear: both; }
.error{ color: red }

input[type="submit"],input[type="button"]{ cursor: pointer }

#site{
    height: 100%;
}

#header{
    width: auto;
    background: #333;
    border: 1px solid;
    border-bottom: #f06c57;
    padding: 7px 0;
}

#header-box{ position: relative; max-width: 1200px; margin: 0 auto}


    #header-box-ct{
        float: left;
    }

    #header-box-ct h1#title{
        font-family: 'raleway', "Lucida Grande", Helvetica, Verdana, Arial, 'sans-serif';
        margin-top: 2px;
        color: #e57663;
    }

    #header-box-ct span#white-title{
        font-style: oblique;
        color: #FFF;
    }

    #connect{
        color: #FFFFFF;
        width: 700px;
        float: right;
        text-align: right;
        position: relative;
    }

    #head-connect{ margin: -5px 0}

        #head-connect input[type="text"].head-login, input[type="password"].head-login{
            display: inline-block;
            background: #313131;
            border: 1px solid #666666;
            border-style: inset;
            color: #FFFFFF;
            padding: 2px 10px;
            border-radius: 4px;
        }

        #head-connect input[type="submit"].head-sub{
            display: inline-block;
            background: #f06c57;
            border: 1px solid #666666;
            border-style: inset;
            color: #ffffff;
            border-radius: 2px;
        }

        #head-connect input[type="button"].head-sub{
            display: inline-block;
            background: transparent;
            border: 1px solid transparent;
            border-style: inset;
            color: #FFFFFF;
            border-radius: 2px;
            font-style: italic;
        }

    #header-box #connect img#avatar{
        border-radius: 10px;
        height: 20px;
        vertical-align: middle;
    }

#header-box #connect img#new-post{
    height: 40px;
    position: absolute;
    right: 180px;
    top: -5px;
}

#underheader{
    background: #f06c57;
    border-bottom: 1px solid #cccccc;
    width: 100%;
}

#underheader-box{ max-width: 1400px; margin: 0 auto; text-align: center; }

#flash-success{ background: #aacd4e; margin: -5px 0; padding: 7px 0; color: #333333; }
#flash-error{ background: red; margin: -5px 0; padding: 7px 0; color: #FFF; }

#content{
    max-width: 1200px;
    margin: 0 auto;
}

input::-webkit-input-placeholder {
    color: #999;
    font-style: italic

}
input::-moz-placeholder {
    color: #999;
    font-style: italic

}
input:-moz-placeholder {   /* Older versions of Firefox */
    color: #999;
    font-style: italic

}
input:-ms-input-placeholder {
    color: #999;
    font-style: italic
}
textarea::-webkit-input-placeholder {
    color: #999;
    font-style: italic
}
textarea::-moz-placeholder {
    color: #999;
    font-style: italic
}
textarea:-moz-placeholder {   /* Older versions of Firefox */
    color: #999;
    font-style: italic
}
textarea:-ms-input-placeholder {
    color: #999;
    font-style: italic
}