{% extends "UserBundle::layout.html.twig" %}

{% block content %}
    <div id="box">
         {% include "UserBundle:Perso:menu.html.twig" %}

    {% include "UserBundle:ChangePassword:changePassword_content.html.twig" %}
    <div class="clear"></div>
    </div>
{% endblock content %}
